@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url("http://photograph.pro/bin/img/photo/09013561_FHD.jpg");      
    }

    h1 {
        font-size: 500%;
        display: table-cell;
        height: 200px;
        width: 800px;
        text-align: center;
        vertical-align: middle;
        color: black;
    }
</style>
<link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">

<body>
    <div style="opacity: 0.7;">
        <br /><br />

        <img id="flower" src="~/images/icon.png" , width="150" , height="150" />

        <h1 style="font-family: 'Dancing Script', cursive;">Thank You For Choosing</h1><br />
        <h1 style="font-family: 'Dancing Script', cursive;">XXX Bank</h1><br />
    </div>
</body>
